body {
    padding-top:70px;
}
.business-item img {
    float:left;
    width:100px;
    height:100px;
    margin-right:20px;
}
.business-item h4 {
    margin:15px 0;
}
.clear {
    clear:both;
    display:block;
}
svg {
  font: 10px sans-serif;
}

.area {
    stroke: #000;
    fill: none;
    clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

