body {
    padding-top:70px;
}
.business-item img {
    float:left;
    width:100px;
    height:100px;
    margin-right:20px;
}
.business-item h4 {
    margin:15px 0;
}
.clear {
    clear:both;
    display:block;
}
